%h1 Entreprises

.list-group
- @companies.each do |company|
  %a.list-group-item.smooth{:href => "/companies/#{company.id}"}
    %h4.list-group-item-heading= company.name
    %p.list-group-item-text=  company.address
- if @companies.count == 0
  .list-group-item.smooth
    %h4.list-group-item-heading.lastBox Il n'y a aucun entreprise.
    %p.list-group-item-text

.right-button-container
  - if can? :create, Company
    %a{:href => "/companies/new"}
      %button.btn.btn-primary.btn-lg Ajouter une entreprise
%br/
